{% extends 'feedback/base.html' %}
{% load custom_filter %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="col-12 mx-1 px-1 py-1">
    <a class="btn btn-md" type="button" href="{% url 'mailing:mailing_list' %}">
        <img src="{% static 'mailing/svg/arrow-left.svg' %}" alt="Icon"></a>
</div>
{% for object in object_list %}
{% if user == object.creator or user|has_group:"Менеджер" or user.is_superuser %}
<div class="col-10 mx-5 px-3 py-2">
    <div class="container">
        <div class="row text-start">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td scope="col">{{ object.full_name }}</td>
                    <th scope="col">{{ object.email }}</th>
                    <th scope="col">{% include 'mailing/includes/inc_client_dots.html' %}</th>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
{% endblock %}