{% extends "feedback/base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="col-12 mx-1 px-1 py-1" style="padding-left: 100px;">
    <a class="btn btn-md" type="button" href="{% url 'mailing:mailing_list' %}">
        <img src="{% static 'mailing/svg/arrow-left.svg' %}" alt="Icon"></a>
</div>
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center"></div>
<div class="container">
    <div class="row text-start">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    {% include 'mailing/includes/inc_mailing_detail.html' %}
                    <h4 class="my-0 font-weight-normal">Рассылка</h4>
                </div>
                <div class="card-body">
                    <p>
                        Начало: {{ object.start_time }}
                    </p>
                    <hr>
                    <p>
                        Конец: {{ object.end_time }}
                    </p>
                    <hr>
                    <p>
                        Период: {{ object.get_frequency_display }}.
                    </p>
                    <hr>
                    <p>
                        Статус: {{ object.get_status_display }}.
                    </p>
                    <hr>
                    <p>
                        Контент: "{{ object.message }}".
                    </p>
                    {% if object.logs %}
                    <hr>
                    <p>
                        <img src="{% static 'mailing/svg/calendar-check.svg' %}" alt="Icon">
                    </p>
                    <p>
                    Отправлено: {{ object.logs.date }}
                    <hr>
                    Статус: {{ object.logs.get_attempt_status_display }}
                    <hr>
                    Ответ почтового сервиса: {{ object.logs.mail_server_response }}
                    </p>
                    {% endif %}
                </div>
                <div class="card-footer">
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}