{% extends 'feedback/base.html' %}
{% load static %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-6">{{ title }}</h1>
</div>
<div class="container">
    <div class="row text-start">
        <div class="col-md-6 offset-md-3">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Введите электронную почту</h4>
                </div>
                <div class="card-body">
                    <form method="POST" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" class="form-control" id="email"
                                   placeholder="E-mail" required>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" style="background-image: linear-gradient(to right, #2F4F4F, #708090);" class="btn btn-lg form-control">
                                Отправить
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}